<ul id="nav" class="hidden-xs">
    <li class="active"> <a class="level-top" href="/"><span>Home</span></a></li>
   
    <li class="level0 parent drop-menu">
        <a class="level-top" href="/Blog/Index"><span>Blog</span></a>
    </li>
    <li class="level0 parent drop-menu">
        <a class="level-top" href="/Dealer/Register"><span>Dealer Registration</span></a>
    </li>   
    <li class="level0 parent drop-menu">
        <a class="level-top" href="/Contact/Index"><span>Contact</span></a>
    </li>
</ul>
