<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Vehicle Showroom</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Showroom/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Account
    </div>

    <!-- Nav Item - Account -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee"
           aria-expanded="true" aria-controls="collapseEmployee">
            <i class="fas fa-fw fa-user-shield"></i>
            <span>Employee</span>
        </a>
        <div id="collapseEmployee" class="collapse" aria-labelledby="headingEmployee" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a class="collapse-item" href="/Showroom/Employee/Index">Employee</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Dealer -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDealer"
           aria-expanded="true" aria-controls="collapseDealer">
            <i class="fas fa-fw fa-store"></i>
            <span>Dealer</span>
        </a>
        <div id="collapseDealer" class="collapse" aria-labelledby="headingDealer" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Showroom/Dealer/Confirm">Confirm Dealer</a>
                <a class="collapse-item" href="/Showroom/Dealer/Index">Dealer</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Customer -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
           aria-expanded="true" aria-controls="collapseCustomer">
            <i class="fas fa-fw fa-user"></i>
            <span>Customer</span>
        </a>
        <div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Showroom/Customer/Index">Customer</a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Component
    </div>

    <!-- Nav Item - Common -->
    <li class="nav-item ">
        <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseCommon" aria-expanded="true" aria-controls="collapseCommon">
            <i class="fas fa-fw fa-folder"></i>
            <span>Common Management</span>
        </a>
        <div id="collapseCommon" class="collapse " aria-labelledby="headingCommon"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Showroom/Brand/Index">Brand</a>             
                <a class="collapse-item" href="/Showroom/MandatoryCost/Index">Mandatory Cost Service</a>


            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Requirement
    </div>

    <!-- Nav Item - System -->
    <li class="nav-item ">
        <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseRequirement" aria-expanded="true" aria-controls="collapseRequirement">
            <i class="fas fa-fw fa-check-circle"></i>
            <span>Requirement</span>
        </a>
        <div id="collapseRequirement" class="collapse " aria-labelledby="headingRequirement"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Blog Management:</h6>
                <a class="collapse-item" href="/Showroom/Blog/Confirm">Confirm Blog</a>
                <a class="collapse-item" href="/Showroom/Blog/Index">Blog</a>
                <h6 class="collapse-header">Test-Drive Management:</h6>
                <a class="collapse-item" href="/Showroom/TestDrive/Confirm">Confirm Test-Drive</a>
                <a class="collapse-item" href="/Showroom/TestDrive/Index">Test-Drive</a>              
               
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        System
    </div>

    <!-- Nav Item - System -->
    <li class="nav-item ">
        <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseSystem" aria-expanded="true" aria-controls="collapseSystem">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>System</span>
        </a>
        <div id="collapseSystem" class="collapse " aria-labelledby="headingSystem"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Showroom/Slide/Index">Slide</a>
                <a class="collapse-item" href="/Showroom/About/Index">About Information</a>
                <a class="collapse-item" href="/Showroom/Contact/Index">Contact</a>
            </div>
        </div>
    </li>
 

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
