
@{
    ViewBag.Title = "d";
    Layout = "~/Areas/Dealer/Views/Shared/_Layouts.cshtml";
}

@section header{
    Not Credential!!!
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Not Have Credential</p>
        <p class="text-gray-500 mb-0">It looks like you is not authorized...</p>
        <a href="/Dealer/Login/">&larr; Back to login another account</a>
    </div>

</div>


